altair
analytics-python
argon2-cffi
astor
async-generator
attrs
backcall
base58
bcrypt
bleach
blinker
cachetools
certifi
cffi
chardet
click
colorama
cryptography
cycler
decorator
defusedxml
entrypoints
ffmpy
Flask
Flask-BasicAuth
Flask-CacheBuster
Flask-Cors
Flask-SQLAlchemy
fsspec
gitdb
GitPython
gradio
idna
imageio
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
lightfm
markdown2
MarkupSafe
matplotlib
mistune
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
numpy
packaging
pandas
pandocfilters
paramiko
parso
pickleshare
Pillow
plotly
prometheus-client
prompt-toolkit
protobuf
pyarrow
pycparser
pydeck
Pygments
PyNaCl
pyOpenSSL
pyparsing
PyPika
pyrsistent
PySocks
python-dateutil
pytz
PyWavelets
pywinpty
pyzmq
requests
retrying
scikit-image
scikit-learn
scipy
Send2Trash
six
smmap
SQLAlchemy
streamlit
tabulate
terminado
testpath
threadpoolctl
tifffile
toml
toolz
tornado
traitlets
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings
Werkzeug
widgetsnbextension
win-inet-pton
wincertstore
